* {
	margin: 0;
	padding: 0;
}

.moviesListPanel {
	width: 100%;
	overflow: hidden;
	position: relative;
}
.pointer {
	cursor: pointer;
}

#moviesList {
	width: 1505px;
}

#moviesList li {
	width: 210px;

	display: inline-block;
	text-align: center;
	margin-top: 2px;
	margin: 2px;
}
#moviesList li img {
	width: 100%;
}
#moviesList li a {
	text-decoration: none;
}

#sliderControls {
    position: absolute;
    top: 35%;
    color: #fff;
    width: 100%;
}

#sliderControls .moveLeft {
	background: rgba(0, 0, 0, 0.5);
	padding: 20px;
	left: 0;
	position: absolute;
}

#sliderControls .moveRight {
	margin-left: auto;
	background: rgba(0, 0, 0, 0.5);
	padding: 20px;
	right: 0;
	position: absolute;
}

@media only screen and (max-width: 730px) {
	#moviesList {
		width: 860px;
	}
	#moviesList li {
		width: 210px;
	}
}

@media only screen and (max-width: 320px) {
	#moviesList {
		width: 564px;
	}
	#moviesList li {
		width: 230px;
	}
}