.scores li{
    width: 100px;
}
.genreIcon {
	height: 80px;
	width: 80px;
    border: 10px #eee solid;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 5px;
    text-align: center;
    line-height: 40px;
}
.score{
	font-size: 25px;
	font-weight: bold;
}
.userVotes{
	font-size: 13px;
}
.scores li .caption{
    word-wrap: break-word;
}