.movieImage{
	width: 100%;
}

.hero-banner{
	position: relative;
    height: calc(100vh - 50px);
    min-height: 455px;
    background-image: url(https://server9.kproxy.com/servlet/redirect.srv/saz/svndfwnf/sjegkzyqljb-ognewq-2mycb/p2/images/placeholders/hero-1bbf9a928a.jpg);
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto 100%;
    transition: height .1s linear,background-image .2s ease;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: background-position;
    z-index: 1;
    background-size: auto 100%;
}

.detail-wrap{
	position: relative;
    height: 100%;
    background: rgba(0,0,0,.3);
    background: linear-gradient(to bottom,transparent 30%,rgba(0,0,0,.3) 45%,rgba(0,0,0,.7) 60%,#000 70%);
}

.banner-detail {
    position: absolute;
    bottom: 185px;
    display: block;
    padding: 0 25px;
    width: 100%;
    text-align: center;
}

.banner-detail h1{
	font-size: 42px;
	margin-bottom: 10px;
    color: #fff;
    line-height: 110%;
    -webkit-font-smoothing: antialiased;
}

.cont-wrap{
	position: relative;
    padding: 0 0 25px;
    background-color: #f1f1f1;
    z-index: 0;
}

.main-cont{
	display: block;
    width: 100%;
    vertical-align: top;
}

.side-cont{
	vertical-align: top;
	padding: 0;
    width: 22%;
}

.main-cont-inner{
	display: block;
    margin: 0 auto;
    padding: 20px;
    color: #737373;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
}

.bg-round{
	width: 110px;
    height: 110px;
    display: -webkit-flex;
    display: flex;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    background-color: rgba(0,0,0,.7);
    border-radius: 50%;
    box-shadow: 0 1px 1px rgba(0,0,0,.5);
    cursor: pointer;
    transition: background-color .1s ease,border .1s ease;
}

.bg-round-text{
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: block;
    color: #fff;
    font-size: 10px;
    font-family: Rakuten-Bold,Arial,sans-serif;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 1px 1px rgba(0,0,0,.8);
    line-height: 130%;
    transition: color .1s ease;
}

.top-buttons{
	position: absolute;
    width: 100%;
    text-align: center;
    top: 150px;
}

.ban-btn{
	display: inline-block;
    vertical-align: middle;
    margin-right: 40px;
}

.action-btns{
	margin-top: 20px;
}

.action-btns button{
	width: 300px;
	height: 54px;
	color: #252525;
    background: #ffe300;
    border: 2px solid transparent;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    font-size: 16px;
}
.action-btns .btn-trans{
	border-color: #ffe300;
	background: #252525;
	color: #ffe300;
}

.playIcon {
	color: white;
	font-size: 35px;
}

.basic-details{
    display: inline-flex;
    list-style-type: none;
    margin-bottom: 30px;
}

.basic-details li{
    margin-right: 15px;
}

.description{
    margin: 20px 0;
}

@media (min-width: 560px){
	.hero-banner {
	    height: 570px;
	}
	.detail-wrap{
		background: linear-gradient(to bottom,transparent 50%,rgba(0,0,0,.15) 60%,rgba(0,0,0,.5) 70%,rgba(0,0,0,.7) 80%,#000 100%);
	}
	.side-cont{
		padding: 0 40px;
	}
	.main-cont-inner{
		padding: 30px;
		min-height: 300px;
	}
}

@media (min-width: 910px){
	.hero-banner {
	    height: 620px;
	}
	.banner-detail {
	    bottom: 130px;
	}
	.cont-wrap{
		padding: 0 20px 20px;
	}
	.side-cont{
		float: right;
	    display: inline-block;
	    padding: 25px 25px 0 0;
	    width: 22%;
	}
	.main-cont{
		display: inline-block;
    	width: 70%;
    }
    .main-cont-inner{
	    border-top: none;
	    border-right: 1px solid #d9d9d9;
	    border-left: 1px solid #d9d9d9;
	    border-radius: 0 0 2px 2px;
	}
}

@media (min-width: 1140px){
	.side-cont {
	    width: 22%;
	}
	.main-cont{
		width: 75%;	
	}
}

@media (max-width: 360px){
    .side-cont{
        display: block;
        padding: 25px 25px 0 0;
        width: 100%;
    }
    .banner-detail {
        bottom: 30px;
        padding: 0;
    }
    .top-buttons {
        left: 4%;
    }
    .ban-btn{
        margin-right: 10px;
    }
    .action-btns{
        margin-left: 30px;
    }
    .action-btns button{
        margin-right: 40px;
    }
}