.specs{
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: block;
    margin-bottom: 15px;
    color: #737373;
    font-size: 15px;
    line-height: 130%;
    margin-bottom: 30px;
}

.specs table{
	border: none;
}
.specs td{
	padding-right: 30px;
}
.audioAndSubtitleCategory {
    display: flex;
}
.audioCategory {
    flex-grow: 2;
}
.subtitleCategory {
    flex-grow: 8;
}