header nav {
	width: 100%;
	position: fixed;
	background: white;
	z-index: 1;
	box-shadow: 0px 1px 3px #ccc;
	top: 0;
}
header img {
	width: 13%;
}

@media only screen and (max-width: 730px) {
	header img {
		width: 30%;
	}
}

@media only screen and (max-width: 380px) {
	header img {
		width: 50%;
	}
}