.director{
	margin-bottom: 30px;
}
.director ul{
	display: inline-flex;
	list-style-type: none;
}
.director li{
	margin-right: 10px;
}
.heading{
	font-size: 15px;
	margin-bottom: 10px;
}
.director img{
	height: 120px;
}
.director .caption{
	display: block;
    text-align: center;
    font-size: 14px;
}