
@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
	font-family: "Roboto", "Arial", "sans-serif";
	background: #000;
}
* {
	margin: 0;
	padding: 0;
}
.font-white {
	color: white;
}
.font-yellow {
	color: yellow;
}
main {
	margin-top: 60px;
}

main .container h2 {
	padding: 10px;
}

a {
	color: #0271b5;
}
.listStyleNone {
	list-style: none;
}