* {
	margin: 0;
	padding: 0;
}

.itemContainer{
   
}

.movieBrief {
	padding: 10px;
}
.ratingPanel {
	font-size: 12px;
	padding: 10px 0;
}
.ratingPanel .userIcon {
	font-size: 10px;
}

.item-title {
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}