.genres li{
    width: 100px;
}
.genreIcons {
	height: 80px;
	width: 80px;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 5px;
    text-align: center;
    line-height: 80px;
    background: #eee;
    font-size: 25px;
}
.genres li .caption{
    word-wrap: break-word;
}