.social-icons{

}

.social-icons ul{

}
.social-icons ul li{
	display: flex;
    position: relative;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: start;
    justify-content: flex-start;
    height: 50px;
    padding: 0 16px;
    overflow: hidden;
    margin-bottom: 20px;
}
.s-icon{
	display: flex;
    border: 1px solid #ddd;
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    cursor: pointer;
}