#videoPlayerPane {
    position: relative;
    top: 0;
    color: #252525;
    width: 100%;
    height: inherit;
    background: rgba(1, 1, 1, 0.7);
    display: flex;
}
.videoTitle{
    color: #fff;
    cursor: pointer;
    font-size: 1.5em;
    position: absolute;
    top: 0;
    z-index: 1;
}
#videoPlayerPane video {
    max-width: 100%;
    margin: auto;
}